{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}
	<div class="block">
		<div class="nav__container">
			<nav>
				<h2 class="morada__brand">Morada Entreprise</h2>
				<div>
					<ul>
						<li class="nav__item">
							<a href="#">Acheter</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>

	</div>
{% endblock %}
