{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="fs-1 fw-bold">Gestion les catégories: Modification</h1>

		{{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('app_category_index') }}" class="btn btn-secondary">Retour à la liste des catégories</a>

		{{ include('category/_delete_form.html.twig') }}
	</div>
{% endblock %}
