{% extends 'base.html.twig' %}

{% block title %}New Category
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="fs-1 fw-bold">Gestion des catégories: Ajout</h1>

		{{ include('category/_form.html.twig') }}

		<a href="{{ path('app_category_index') }}" class="btn btn-secondary mt-3">Retour à la liste des catégories</a>

	</div>
{% endblock %}
