{% extends 'base.html.twig' %}

{% block title %}New Client
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="fs-1 fw-bold">Gestion des clients: Ajout</h1>

		{{ include('admin_entities/client/_form.html.twig', {button_label: 'Enregistrer'}) }}

		<a href="{{ path('app_client_index') }}" class="btn btn-secondary mt-3">Retour à la liste des clients</a>
	</div>
{% endblock %}
