{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<form action="{{ path('app_login') }}" method="POST">
			<div class="mb-3">
				<label for="username" class="form-label">Nom d'utilisateur</label>
				<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Mot de passe</label>
				<input type="password" class="form-control" id="password" name="_password">
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button type="submit" class="btn btn-primary">Se connecter</button>
		</form>
	</div>
{% endblock %}
