:root {
    --main-color: #4A6FA5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_container {
    padding-left: calc(50vw - 570px);
    padding-right: calc(50vw - 570px);
    overflow-x: hidden;
}


/* ----------------------- NAVBAR ----------------------------- */

.navbar {
    background-color: var(--main-color);
    height: 60px;
    width: 100vw;
    /* box-shadow: 0px 1.5px .5px rgba(0, 0, 0, .2); */
    transition: .2s;
}

.navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.morada__brand a {
    font-size: 30px;
    color: var(--main-color);
}

.nav__items {
    margin-right: 100px;
}

.nav__items li {
    font-size: 20px;
}

.nav__link {
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.nav__link {
    position: relative;
}

.nav__link:hover {
    color: white;
}

.nav__link::after {
    content: '';
    width: 10px;
    bottom: 0;
    height: 4px;
    position: absolute;
    display: block;
    background-color: white;
    transition: .5s;
    opacity: 0;
}

.nav__link:hover::after {
    bottom: 0;
    opacity: 1;
    width: 100%;
}

.nav__link {
    margin-right: 15px;
    padding-bottom: 5px;
}

.navbar__content li {
    list-style: none;
}

.navbar__content a {
    text-decoration: none;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin_nav {
    display: flex;
}

.burger__menu {
    display: none;
}

[class*="burger__piece"] {
    border: solid 1.5px black;
    width: 30px;
    display: block;
    margin-top: 8px;
}


/* ---------------------- Banner  ----------------------------- */

.banner {
    min-height: 80vh;
    /* background: url('../images/banner_image.jpeg') center center / cover no-repeat; */
    background-color: #4A6FA5;
    padding: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.search__button {
    background-color: #C0D6DF;
    color: black;
}

.search__button:hover {
    background-color: #DBE9EE;
    color: black;
}

.housing__title {
    margin-top: 15px;
    text-transform: uppercase;
}

.footer {
    height: auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 0;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* ----------------------- MEDIA QUERIES ----------------------------- */

@media screen and (max-width: 992px) {
    .navbar__visible {
        height: 100vh;
    }
    .navbar__content {
        position: relative;
        width: 100vw;
    }
    .nav__items {
        display: none;
    }
    .nav__items__visible {
        display: block;
        flex-direction: column;
        height: 70vh;
    }
    .nav__items {
        margin: 0;
    }
    .nav__items li {
        font-size: 30px;
        margin-bottom: 45px;
    }
    .burger__menu {
        display: block;
        padding: 5px;
        font-size: 30px;
        margin-right: 20px;
        cursor: pointer;
        transition: .2s;
    }
    .rotate {
        transform: rotate(180deg) scale(.8);
        position: absolute;
        top: 20px;
        right: 0;
        display: block;
    }
    .cross1 {
        transform: rotate(45deg) translate(5px, 8px);
    }
    .cross2 {
        display: none;
    }
    .cross3 {
        transform: rotate(-45deg);
    }
    .navbar__content__visible {
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }
    .footer__container {
        flex-direction: column;
        text-align: center;
    }
}