* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #fff;
}

.navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}