{% extends 'base.html.twig' %}

{% block title %}Edit Quarter
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="fs-1 fw-bold">Gestion des quartiers: Modification</h1>

		{{ include('admin_entities/quarter/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('app_quarter_index') }}" class="btn btn-secondary mt-2">Retour à la liste des quartiers</a>

		{{ include('admin_entities/quarter/_delete_form.html.twig') }}

	</div>
{% endblock %}
