{% extends 'base.html.twig' %}

{% block title %}Hello AdminEntitiesController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="fs-1 fw-bold">Bienvenue
			{{ username }}
			🫡</h1>
		<div class="row">
			{% for entity in entities %}
				<div class="col-md-4 mt-5">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path(entity[0 ]) }}" class="fw-bold text-decoration-none">{{ entity[1] }}</a>
							</h5>
						</div>
					</div>

				</div>
			{% endfor %}

		</div>
	</div>


{% endblock %}
