<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		{% endblock %}


	</head>
	<body>
		<div class="block">
			<div class="nav__container">
				<nav>
					<h2 class="morada__brand">
						<a href="{{ path('app_home')}}">Morada Entreprise</a>
					</h2>
					<div>
						<ul>
							<li class="nav__item">
								<a href="{{ path('app_housing_show') }}">Voir les biens</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>

		</div>
		<div class="app_container"> {% block body %}{% endblock %}
			</div>

			{% block javascripts %}
				<script src="{{ asset('./build/app.js') }}"></script>
			{% endblock %}
		</body>
	</html>
