{% extends 'base.html.twig' %}

{% block title %}Edit Provider
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="fs-1 fw-bold">Gestion des fournisseurs: Modification</h1>

		{{ include('provider/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('app_provider_index') }}" class="btn btn-secondary mt-2">Retour à la liste des fournisseurs</a>

		{{ include('provider/_delete_form.html.twig') }}
	</div>
{% endblock %}
