<form method="post" action="{{ path('app_region_delete', {'id': region.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette region?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ region.id) }}">
	<button class="btn btn-danger mt-2">Supprimer</button>
</form>
