{% extends 'base.html.twig' %}

{% block title %}Edit Region
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="fs-1 fw-bold">Gestion des regions: Modification</h1>

		{{ include('region/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('app_region_index') }}" class="btn btn-secondary mt-2">Retour à la liste des regions</a>

		{{ include('region/_delete_form.html.twig') }}

	</div>
{% endblock %}
