{% extends 'base.html.twig' %}

{% block title %}Edit Housing
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Gestion des appartements</h1>

		{{ include('admin_entities/housing/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('app_housing_index') }}" class="btn btn-secondary">Retour à la liste des appartements</a>

		{{ include('admin_entities/housing/_delete_form.html.twig') }}
	</div>
{% endblock %}
